<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-EFreshStore-20190415045734.mdf;Initial Catalog=aspnet-EFreshStore-20190415045734;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FreshContext" connectionString="metadata=res://*/Models.Context.FreshStore.csdl|res://*/Models.Context.FreshStore.ssdl|res://*/Models.Context.FreshStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OUCTA6R\SQLEXPRESS;initial catalog=MeghnaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="imageUrl" value="http://ecommerce.nerdcastlebd.com/EFreshtestApi/"/>
    <add key="url" value="http://ecommerce.nerdcastlebd.com/EFreshtestApi/api/"/>
    <add key="homeUrl" value="http://ecommerce.nerdcastlebd.com/EFreshtestApi/api/"/>--> 
    
    <add key="imageUrl" value="http://localhost:50644/"/>
    <add key="url" value="http://localhost:50644/api/"/>
    <add key="homeUrl" value="http://localhost:50644/api/"/>
    <add key="SubDirectory" value="" />
    
    <!--<add key="imageUrl" value="http://ecommerce.nerdcastlebd.com/EFreshApi/"/>
    <add key="url" value="http://ecommerce.nerdcastlebd.com/EFreshApi/api/"/>
    <add key="homeUrl" value="http://ecommerce.nerdcastlebd.com/EFreshApi/api/"/>-->
    
    <!--<add key="imageUrl" value="http://dotnet.nerdcastlebd.com/EFreshStoreApp/"/>
    <add key="url" value="http://dotnet.nerdcastlebd.com/EFreshStoreApp/api/"/>
    <add key="homeUrl" value="http://dotnet.nerdcastlebd.com/EFreshStoreApp/api/"/>-->
    <!--<add key="url" value="http://dotnet.nerdcastlebd.com/EFreshapiTest/api/" />
    <add key="imageUrl" value="http://dotnet.nerdcastlebd.com/EFreshapiTest/" />
    <add key="homeUrl" value="http://ecommerce.nerdcastlebd.com/EFreshAdmin/"/>-->
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2"/>
    <sessionState mode="InProc" timeout="1440"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom/>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="User-Agent" value="*" />
        <add name="ccept-Encoding" value="*" />
        <add name="Accept-Language" value="*" />
        <add name="Cache-Control" value="*" />
        <add name="Upgrade-Insecure-Requests" value="*" />-->
        <!--<add name="User-Agent" value="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; WOW64; Trident/5.0)" />
        <add name="ccept-Encoding" value="gzip, deflate, br" />
        <add name="Accept-Language" value="en-US,en;q=0.9" />
        <add name="Cache-Control" value="no-cache" />
        <add name="Upgrade-Insecure-Requests" value="1" />-->
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: {2E077A4D-5087-4ABA-87FF-F9CE1EE23178}-->