@using EFreshAdmin.Models.EntityModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["BreadCrum"] = "LPG Combo Discount";
    List<LPGComboDiscount> configurations = ViewBag.Configurations;
}

<head>
    <style>
        .error {
            color: red;
        }
    </style>
</head>


<div id="content" style="margin-bottom: 3%">
    <section id="widget-grid" class="">

       

    </section>
</div>


