@model EFreshStore.Models.Context.ProductUnit
@{
    ViewBag.Title = "AddDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["BreadCrum"] = "Add Product Details";
}
<head>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<section id="widget-grid" class="" style="margin-bottom: 2%">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Add Product Details</h2>

                </header>
                <div>
                    <div class="widget-body no-padding">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "AddProductDetailsform", @enctype = "multipart/form-data", @class = "smart-form", @novalidate = "novalidate" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            
                            <fieldset>
                                <div class="row" style="padding-bottom: 0px;margin-bottom: 0px">
                                    <section class="col col-6" style="padding-bottom: 0;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Name <span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="select">
                                                <label class="select">
                                                    @Html.DropDownListFor(x => x.ProductId, new SelectList(ViewBag.product, "Id", "Name"), "----Select Product----")<i></i>
                                                </label>
                                            </label>
                                        </section>
                                    </section>
                                    <section class="col col-6" style="padding-bottom: 0px;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Stock Keeping Unit <span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="input">
                                                <input type="text" name="StockKeepingUnit" id="StockKeepingUnit" placeholder="Stock keeping unit">
                                            </label>

                                        </section>
                                    </section>
                                </div>
                                <div class="row" style="padding-bottom: 0px;margin-bottom: 0px">
                                    <section class="col col-6" style="padding-bottom: 0px;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Carton Size<span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="input">
                                                <input type="text" name="CartonSize" id="CartonSize" placeholder="Carton size">

                                            </label>
                                        </section>
                                    </section>
                                    <section class="col col-6" style="padding-bottom: 0px;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Carton Size Unit<span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="input">
                                                <input type="text" name="CartonSizeUnit" id="CartonSizeUnit" placeholder="Carton size unit">
                                            </label>

                                        </section>
                                    </section>
                                </div>
                                <div class="row" style="padding-bottom: 0px;margin-bottom: 0px">
                                    <section class="col col-6" style="padding-bottom: 0px;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Maximum Retail Price<span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="input">
                                                <input type="text" name="MaximumRetailPrice" id="MaximumRetailPrice" placeholder="Maximum retail price">
                                            </label>

                                        </section>
                                    </section>
                                    <section class="col col-6" style="padding-bottom: 0px;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Distributor Price Per Carton<span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="input">
                                                <input type="text" name="DistributorPricePerCarton" id="DistributorPricePerCarton" placeholder="Distributor price per carton">
                                            </label>

                                        </section>
                                    </section>
                                </div>

                                <div class="row" style="padding-bottom: 0px;margin-bottom: 0px">
                                    <section class="col col-6" style="padding-bottom: 0px;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Trade Price Per Carton<span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="input">
                                                <input type="text" name="TradePricePerCarton" id="TradePricePerCarton" placeholder="Trade price per carton">
                                            </label>

                                        </section>
                                    </section>
                                    <section class="col col-6" style="padding-bottom: 0px;margin-bottom: 0px">
                                        <section class="col col-3">
                                            <label class="label">Effective Date <span style="color: red"> *</span></label>
                                        </section>
                                        <section class="col col-9">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" autocomplete="off" name="EffectiveDate" id="EffectiveDate" placeholder="Effective date">
                                            </label>

                                        </section>
                                    </section>
                                </div>

                                <div class="row" style="padding-bottom: 0px;margin-bottom: 0px">

                                    <section class="col col-6" style="padding-bottom: 5px;margin-bottom: 5px">
                                        <section>
                                            <section class="col col-3">
                                                <label class="label">Product Images</label>
                                            </section>
                                            <section class="col col-9">
                                                <div class="input input-file">
                                                    <span class="button"><input name="ProductImages[0].ImageLocation" id="ProductImages[0].ImageLocation" type="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="No file choosen" readonly="">
                                                </div>
                                            </section>
                                        </section>
                                        <section>
                                            <section class="col col-3"></section>
                                            <section class="col col-9">
                                                <div class="input input-file">
                                                    <span class="button"><input name="ProductImages[1].ImageLocation" id="ProductImages[1].ImageLocation" type="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="No file choosen" readonly="">
                                                </div>
                                            </section>
                                        </section>
                                        <section>
                                            <section class="col col-3"></section>
                                            <section class="col col-9">
                                                <div class="input input-file">
                                                    <span class="button"><input name="ProductImages[2].ImageLocation" id="ProductImages[2].ImageLocation" type="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="No file choosen" readonly="">
                                                </div>
                                            </section>
                                        </section>
                                    </section>                                    
                                </div>
                            </fieldset>                           
                                <footer>
                                    <button type="submit" id="brandAddButton" class="btn btn-primary">Add</button>
                                </footer>
                        }

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#AddProductDetailsform").validate({

            rules: {
                ProductId: {
                    required: true
                },
                StockKeepingUnit: {
                    required: true
                },
                CartonSize: {
                    required: true
                },
                CartonSizeUnit: {
                    required: true
                },
                MaximumRetailPrice: {
                    required: true
                },
                DistributorPricePerCarton: {
                    required: true
                },
                TradePricePerCarton: {
                    required: true
                },
                EffectiveDate: {
                    required: true
                }

            },
            messages: {
                ProductId: "Please enter name",
                StockKeepingUnit: "please enter stock keeping unit",
                CartonSize: "Please enter carton size",
                CartonSizeUnit: "Please enter carton size unit",
                MaximumRetailPrice: "Please enter maximum retails price",
                DistributorPricePerCarton: "Please enter distributor price per carton",
                TradePricePerCarton: "Please enter trade price per carton",
                EffectiveDate: "Please enter effective date"

            }
        });
        $(".UploadFile").change(function () {
            if (this.files[0].size > 2097152) {
                alert("File is too big!");
                this.value = "";
            };
        });
        $(document).ready(function () {
            $('#EffectiveDate').datepicker({
                dateFormat: "d MM, yy",
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'maxDate', selectedDate);
                }
            });

            // START AND FINISH DATE
            $('#startdate').datepicker({
                dateFormat: "d MM, yy",
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'maxDate', selectedDate);
                }
            });
            //$("#saveButton").click(function () {
            //    var productId = $("#ProductId").val();
            //    var stockKeepingUnit = $("#StockKeepingUnit").val();
            //    var cartonSize = $("#CartonSize").val();
            //    var distributorPricePerCarton = $("#DistributorPricePerCarton").val();
            //    var tradePricePerCarton = $("#TradePricePerCarton").val();
            //    var maximumRetailPrice = $("#MaximumRetailPrice").val();
            //    var ProductUnitVm = {};
            //    var Images = [];
            //    ProductUnitVm.ProductId = productId;
            //    ProductUnitVm.StockKeepingUnit = stockKeepingUnit;
            //    ProductUnitVm.CartonSize = cartonSize;
            //    ProductUnitVm.DistributorPricePerCarton = distributorPricePerCarton;
            //    ProductUnitVm.TradePricePerCarton = tradePricePerCarton;
            //    ProductUnitVm.MaximumRetailPrice = maximumRetailPrice;

            //    var imageLocation1 = $("#ImageLocation1").get();
            //    var imageLocation2 = $("#ImageLocation2").get();
            //    var imageLocation3 = $("#ImageLocation3").get();
            //    Images[0].ImageLocation = imageLocation1;
            //    //var Images = [
            //    //    { ImageLocation: imageLocation1 },
            //    //    { ImageLocation: imageLocation2 },
            //    //    { ImageLocation: imageLocation3 }
            //    //];

            //    ProductUnitVm.ProductImages = Images;
            //    var data=$('#productDetailsform').serialize();
            //    $.ajax({
            //        type: "POST",
            //        url: 'http://localhost:50644/api/products/AddDetails',
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "json",
            //        crossDomain: true,
            //        data: JSON.stringify(ProductUnitVm),
            //        success: function (data) {
            //            alert(data);

            //        }

            //    });
            //});

            //var images = [];
            //var image = {};
            //var i = 0;

            //$("#btnAdd").click(function () {
            //    //image.Id = i++;
            //    image.ImageLocation = $("#ImageLocation").get(0);
            //    alert(image.ImageLocation);
            //    var table = "<tr><td><input hidden='hidden' name='ProductImages[" + i + "].Id' type='text'  value=" + i + " />" + i + "</td><td><input hidden='hidden' type='file'name='ProductImages[" + i + "].ImageLocation'  value=" + image.ImageLocation + " />" + image.ImageLocation + "</td></tr>";
            //    for (var j = 0; j < images.length; j++) {
            //        if (images[j].ImageLocation === image.ImageLocation) {
            //            alert("this product is already exsit");
            //            return;
            //        }
            //    }
            //    $("#tblImage").append(table);
            //    i++;
            //    images.push(image);
            //});

            $(function () {
                setTimeout(function () {
                    $("#flashMessage").hide('blind', {}, 500);
                }, 5000);
            });
        });
    </script>
}

